:root {
    --primary-color: rgb(206, 65, 63);
    --input-size: .80rem;
  }

  /* Estilo General */

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }

  .width-50 {
    width: 50%;
  }

  .ml-auto {
    margin-left: auto;
  }

  .text-center {
    text-align: center;
    color:#525252;

  }

  /* Barra de progreso */

  .progressbar {
      position: relative;
      display: flex;
      justify-content: space-around;
      counter-reset: step;
      margin: 1.5rem .5rem 4rem;
  }

  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }

  .progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
  }

  .progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }

  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color:     #9F9E9E;
    font-weight: bold;
    ;
  }

  .progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
  }

  /* Formulario */

  .form {
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    border: 0.5px;
    border-radius: 0.35rem;
    box-shadow: 0 4px 8px rgba(132, 131, 131, 0.5);

  }

  .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }

  .form-step-active {
    display: block;
  }

  .input-group {
    margin: 2rem 0;
    color: #9F9E9E;
    font-size: var(--input-size);
    font-weight: bold;
  }

  .input-error {
    border: 2px solid #F68A8A;
  }

  .error-message {
    color: #F68A8A;
    font-weight:  400 !important;
    font-size: 0.95em;
    margin-top: 1rem;
  }

  /* Botón */

  .btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
    font-size: .9rem;
    font-weight: bold;
  }
  .btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  }
